{% load bootstrap3 %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estates</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default  navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="{% url 'estates:index' %}">Home</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'estates:senica' %}">Senica</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            {% block header %}{% endblock header %}
        </div>
        <div>
            <div class="row">
                <div class="col-lg-3">
                    {% block content_left %}{% endblock content_left %}
                </div>
                <div class="col-lg-9">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>