{% extends "estates/base.html" %}
{% load humanize %}

{% block content_left %}
    <form action="{% url 'estates:search' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Submit</button>
    </form>
{% endblock content_left %}
{% block content %}
    <p>
        Manage real estates.
    </p>
    <p>
        {{ selected }}
    </p>
    <p>
        Average price of estates is {{ average|floatformat:2|intcomma }} EUR.
        There are currently around {{ count }} adverts active.
    </p>
    <p>
        In City {{ city }}
    </p>
{% endblock content %}
